@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background: #d2d2c1 url('assets/fundo.png');
    font-family: "Poppins";
    display: flex;            
    justify-content: center;
    color: #4b566a;
    font-size: 1rem;
}

#principal {
    width: 900px;
}

#menu {
    background-color: #c5c5b2;
    padding: 1.125rem;
    text-align: center;
}

#conteudo{
    background: #e8e8d9;
    padding: 1.25rem;

}

a { 
    text-decoration: none;
    color: #4b566a;
    font-weight: bold;
    padding: 0.5rem;
}

a:hover {
    color: #6f7d96;
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

#rodape {
    text-align: center;
}

.foto-campanha{
    width: 100%;
    height: auto;
    display: block;
    box-sizing: border-box;
    border: 10px solid #c3c3ae;
}