@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

header {
    height: 70px;
    background-color: #F03C42;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
}

#main-section {
    height: 719px;
    background-color: #DDD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0;
}

.card {
    width: 760px;
    height: 200px;
    display: flex;
    border-radius: 0 12px 12px 0;
    background: #FFF;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.card-info h2 {
    color: #5E5E5E;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-info p {
    color: #5E5E5E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

span {
    color: #02B814;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#comment-section {
    height: 719px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.generic-phrase {
    width: 960px;
    max-height: 79px;
    background-color: #fff964;
    border-radius: 12px;
    color: #F03C42;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 28px;
}

#comment-section h2 {
    color: #5E5E5E;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

footer {
    height: 120px;
    background-color: #F03C42;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

footer p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}