@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-red: #F03C42;
    --color-yellow: #fff964;
    --color-white: #fff;
    --color-green: #02B814;
    --bg-light-gray: #E5E5E5;
    --text-gray: #5E5E5E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

a, a:hover{
    color: unset;
    text-decoration: none;
}

header {
    height: 70px;
    background-color: var(--color-red);
    display: flex;
    align-items: center;
}

nav h1{
    color: var(--color-yellow);
    font-size: 24px;
    text-align: center;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

#main-section {
    background-color: var(--bg-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 40px;
}

.card {
    height: 200px;
    display: flex;
    margin-bottom: 40px;
}

.card img{
    border-radius: 12px 0 0 12px;
}

.card-info {
    background-color: var(--color-white);
    border-radius: 0 12px 12px 0;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-info h2 {
    color: var(--text-gray);
    font-size: 24px;
}

.card-info p {
    color: var(--text-gray);
    font-size: 14px;
}

span {
    color: var(--color-green);
    font-size: 24px;
    font-weight: 700;
}

#comment-section {
    padding: 40px 0;
    background-color: var(--color-white);
}

.card-comment {
    padding: 28px 20px;
    margin: 20px 0;
    background-color: var(--color-yellow);
    color: var(--color-red);
    font-size: 16px;
    border-radius: 12px;
}

#comment-section h2 {
    color: var(--text-gray);
    text-align: center;
    font-size: 32px;
    padding: 20px;
}

footer {
    height: 120px;
    background-color: var(--color-red);
    display: flex;
    align-items: center;
}

.footer-content{
    color: var(--color-yellow);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
