@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --white-color: #fff;
    --header-footer-color: #2C3E50;
    --bg-main-section: #1ABC9C;
    --title-color: #2C3E50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

a, a:hover{
    color: unset;
    text-decoration: none;
}

.nav-container {
    background-color: var(--header-footer-color);
    height: 100px;
    width: 100%;
    padding: 20px;
    position: fixed;
}

.nav-main {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-main a{
    color: var(--white-color);
    text-transform: uppercase;
}

.nav-brand{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.menu-items {
    list-style: none;
    display: flex;
}

.menu-items li {
    font-size: 14px;
    margin: 10px;
}

#main-section {
    background-color: var(--bg-main-section);
    text-align: center;
    padding: 160px 0 60px 0;
    color: var(--white-color);
}

.profile-avatar img {
    width: 150px;
    height: 150px;
    margin-bottom: 35px;
}

#main-section h1 {
    font-size: 2rem;
    font-weight: 700;
}

#main-section p {
    font-size: 1rem;
    font-weight: 400;
}

#portfolio {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    margin-bottom: 60px;
}

#portfolio h2 {
    color: var(--title-color);
    font-size: 2rem;
    margin: 60px 0 10px 0;
    text-align: center;
}

.portfolio-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#portfolio img {
    width: calc(100% - 40px);
    max-width: 420px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

footer {
    background-color: var(--header-footer-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    color: var(--white-color);
    font-size: 14px;
    margin-top: 30px;
    font-weight: 400;
}

.social-medias img {
    width: 32px;
    height: 32px;
    margin: 10px;
}