*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.generic-section{
    min-height: 300px;
    padding: 40px 20px;
}

.bg-orange{
    background-color: #f6ad6c;
}

.bg-beige{
    background-color: bisque;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.form-card{
    background-color: antiquewhite;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
}

.form-card form{
    display: flex;
    flex-direction: column;
}

.form-card form input{
    height: 50px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    padding: 15px;
    font-size: 20px;
}

/* Pseudo-element: styles a specific part of the element */
.form-card form input::placeholder{
    color: #f6ad6c;
}

.form-card form button{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border: none;
}

/* Pseudo-class: applies styles when the user interacts with the element */
.form-card form button:hover{
    border: 2px solid #f6ad6c;
}

/*  In summary   
    Pseudo-class (:) → defines a state of an element (e.g. hover, focus)
    Pseudo-element (::) → styles a specific part of an element (e.g. placeholder)
*/
