*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

.generic-section{
    min-height: 300px;
    padding: 40px 20px;
}

.bg-orange{
    background-color: #f6ad6c;
}

.bg-beige{
    background-color: bisque;
}

.container{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.form-card{
    background-color: antiquewhite;
    padding: 20px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form-card form{
    display: flex;
    flex-direction: column;
}

button{
    width: 200px;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
