/* "*" Selects and apply style to all elements*/
*{
    font-size: 30px;
}

body{
    margin: 0;
}

/*Select and apply style using the html tags (elements) as the selectors*/
/*This will apply to all correspondent elements in the html file*/
h1 {
    color: red;
}

h2 {
    color: #f6ad6c;
}

h1:hover{
    color: rgb(250, 110, 110);
}

/*Select and apply style to specific elements in the html file using the class selector*/
/*A class can be applied to multiple elements*/
.blue {
    color: blue;
}

/*Selects and apply style to all <img> elements inside elements with the "card" class*/
.card img {
    width: 200px;
    height: 200px;
}

/*Select and apply style to a specific element in the html file using the id selector*/
/*A id must be unique per html file*/
#titles{
    background-color:#fbe7d5;
}

.card{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    border: 1px solid brown;
    text-align: center;
}



