/* Font import from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* "*" Selects and apply style to all elements*/
*{
    font-size: 30px;
    font-family: Poppins; /*apply the imported font*/
}

body{
    margin: 0;
}

/*Select and apply style using the html tags (elements) as the selectors*/
/*This will apply to all correspondent elements in the html file*/
h1 {
    color: red;
}

h2 {
    color: #f6ad6c;
}

h1:hover{
    color: rgb(250, 110, 110);
}

/*Select and apply style to specific elements in the html file using the class selector*/
/*A class can be applied to multiple elements*/
.blue {
    color: blue;
}

/*Selects and apply style to all <img> elements inside elements with the "card" class*/
.card img {
    width: 200px;
    height: 200px;
}

/*Select and apply style to a specific element in the html file using the id selector*/
/*A id must be unique per html file*/
#titles{
    background-color:#fbe7d5;
}

.card{
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    border: 1px solid brown;
    text-align: center;
}



